{% extends 'base.html' %}
{%  block content %}
{% if user.is_authenticated  %}
   {% if user.id == post.author.id  %}
        <h1>None is right the first time-edit it & make it right </h1>
        <br/><br/>
        <div class ="form-group">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button  class="btn btn-secondary">Edit</button>
        </form>
        </div>
    {% else %}    
         You are not the user! Edit your own blog
    {% endif %}
{% else %}
        You are not logged in<br/>
        Thief!!
{% endif %}
{% endblock %}
